<p> this page will show the calcuation of the checkboxes the user checked on the localhost:3000/menu page.</p>

<!-- When complete, this page will display the combined nutritional value for all selected items from the Menu page -->
<%= @bread.name if @bread %>
<%= @bread.serving_size if @bread %>
<%= @bread.calorie if @bread %>
<%#= @bread.calories_from_fat %>
<%= @bread.total_fat if @bread  %>
<%= @bread.saturated_fat if @bread  %>
<%= @bread.trans_fat if @bread  %>
<%= @bread.cholesterol if @bread  %>
<%= @bread.sodium if @bread  %>
<%#= @bread.carbohydrates %>
<%= @bread.dietary_fiber if @bread  %>
<%#= @bread.sugars %>
<%= @bread.protein if @bread  %>
<%= @bread.vitamin_a if @bread  %>
<%= @bread.vitamin_c if @bread  %>
<%= @bread.calcium if @bread  %>
<%= @bread.iron if @bread  %>
<br>
<%= @sandwich.name if @sandwich  %>
<%= @sandwich.serving_size if @sandwich %>
<%#= @sandwich.calories %>
<%#= @sandwich.calories_from_fat %>
<%= @sandwich.total_fat if @sandwich %>
<%= @sandwich.saturated_fat if @sandwich %>
<%= @sandwich.trans_fat if @sandwich %>
<%= @sandwich.cholesterol if @sandwich %>
<%= @sandwich.sodium if @sandwich %>
<%#= @sandwich.carbohydrates %>
<%= @sandwich.dietary_fiber if @sandwich %>
<%#= @sandwich.sugars %>
<%= @sandwich.protein if @sandwich %>
<%= @sandwich.vitamin_a if @sandwich %>
<%= @sandwich.vitamin_c if @sandwich %>
<%= @sandwich.calcium if @sandwich %>
<%= @sandwich.iron if @sandwich %>
<%
=begin
<ul>
<% @menu.breads.each do |bread| %>
<%= bread.id %>
<% end %>

<% @menu.breads.each do |bread| %>
<%= bread.id %>
<% end %>
<% @menu.sandwiches.each do |sandwich| %>
<%= sandwich.id %>
<% end %>
<% @menu.vegetables.each do |vegetable| %>
<%= vegetable.id %>
<% end %>
<% @menu.condiments.each do |condiment| %>
<%= condiment.id %>
<% end %>
<% @menu.flatizzas.each do |flatizza| %>
<%= flatizza.id %>
<% end %>
<% @menu.salads.each do |salad| %>
<%= salad.id %>
<% end %>
<% @menu.salad_dressings.each do |salad_dressing| %>
<%= salad_dressing.id %>
<% end %>
<% @menu.soups.each do |soup| %>
<%= soup.id %>
<% end %>
<% @menu.breakfasts.each do |breakfast| %>
<%= breakfast.id %>
<% end %>
<% @menu.desserts.each do |dessert| %>
<%= dessert.id %>
<% end %>
<% @menu.beverages.each do |beverage| %>
<%= beverage.id %>
<% end %>
<%#= @bread=Bread.find_by(id: @menu.bread_ids) %>
 </ul>
<%
=end %>
<%= link_to "Back to menu", menu_path %>

<%= debug(params) %>