<h1>Subway</h1>
<p>What are you eating today?</p>
<ul>
  <% @sandwiches.each do |sandwich| %>
    <li>
      <%= sandwich.name %>
    </li>
  <% end %>

  <% @beverages.each do |beverage| %>
    <li>
      <%= beverage.name %>
    </li>
      <% end %>

  <% @breads.each do |bread| %>
    <li>
      <%= bread.name %>
    </li>
      <% end %>

  <% @breakfasts.each do |breakfast| %>
    <li>
      <%= breakfast.name %>
    </li>
      <% end %>

  <% @condiments.each do |condiment| %>
    <li>
      <%= condiment.name %>
    </li>
      <% end %>

  <% @desserts.each do |dessert| %>
    <li>
      <%= dessert.name %>
    </li>
      <% end %>

  <% @flatizzas.each do |flatizza| %>
    <li>
      <%= flatizza.name %>
    </li>
      <% end %>

  <% @salads.each do |salad| %>
    <li>
      <%= salad.name %>
    </li>
      <% end %>

  <% @salad_dressings.each do |salad_dressing| %>
    <li>
      <%= salad_dressing.name %>
    </li>
      <% end %>

  <% @soups.each do |soup| %>
    <li>
      <%= soup.name %>
    </li>
      <% end %>

  <% @vegetables.each do |vegetable| %>
    <li>
      <%= vegetable.name %>
    </li>
  <% end %>
</ul>