<!DOCTYPE html>
<html>
  <header>
<%#h1><i>Subway</i></h1%>
<p>What are you eating today?</p>
</header>

<div id="menu-form">
<h2>Bread</h2>
<h4>Select your bread</h4>
<ul> <!-- class="checkbox-list" -->
  <%# @breads.each do |bread| %>

  <%#= check_box_tag bread.name %> <%#= bread.name %> 
<%= form_for :menu, url: calculate_path do |m| %>
 <li>
  <%= m.collection_radio_buttons(:bread_ids, Bread.all, :id, :name) do |b|
        b.label { b.radio_button + b.text } 
      end %>
  </li>
</ul>

<h2>Sandwiches</h2>
<h4>Select your sandwich</h4>
<ul>
    <li>
   <%= m.collection_radio_buttons(:sandwich_ids, Sandwich.all, :id, :name) do |s| s.label { s.radio_button + s.text } 
      end %>
  </li>
</ul>

<h2>Vegetables</h2>
<h4>Select your vegetables</h4>
<ul>
    <li>
   <%= m.collection_check_boxes(:vegetable_ids, Vegetable.all, :id, :name) do |v| v.label { v.check_box + v.text } 
      end %>
    </li>
    </ul>

<h2>Condiments</h2>
<h4>Select your condiments</h4>
<ul>
    <li>
   <%= m.collection_check_boxes(:condiment_ids, Condiment.all, :id, :name) do |c| c.label { c.check_box + c.text } 
      end %>
    </li>
    </ul>

<h2>Flatizzas</h2>
<h4>Select your Flatizza</h4>
<ul>
    <li>
   <%= m.collection_radio_buttons(:flatizza_ids, Flatizza.all, :id, :name) do |f| f.label { f.radio_button + f.text } 
      end %>
    </li>
    </ul>

<h2>Salads</h2>
<h4>Select your salad</h4>
<ul>
    <li>
   <%= m.collection_radio_buttons(:salad_ids, Salad.all, :id, :name) do |s| s.label { s.radio_button + s.text } 
      end %>
    </li>
    </ul>

<h2>Salad Dressings</h2>
<h4>Select your salad dressing</h4>
<ul>
    <li>
   <%= m.collection_check_boxes(:salad_dressing_ids, Salad_Dressing.all, :id, :name) do |s| s.label { s.check_box + s.text } 
      end %>
    </li>
    </ul>

<h2>Soups</h2>
<h4>Select your soup</h4>
<ul>
    <li>
   <%= m.collection_check_boxes(:soup_ids, Soup.all, :id, :name) do |s| s.label { s.check_box + s.text } 
      end %>
    </li>
    </ul>

<h2>Breakfasts</h2>
<h4>Select your breakfast</h4>
<ul>
    <li>
   <%= m.collection_radio_buttons(:breakfast_ids, Breakfast.all, :id, :name) do |b| b.label { b.radio_button + b.text } 
      end %>
    </li>
    </ul>

<h2>Desserts</h2>
<h4>Select your dessert</h4>
<ul>
    <li>
   <%= m.collection_check_boxes(:dessert_ids, Dessert.all, :id, :name) do |d| d.label { d.check_box + d.text } 
      end %>
    </li>
    </ul>

<h2>Beverages</h2>
<h4>Select your beverage</h4>
<ul>
    <li>
   <%= m.collection_check_boxes(:beverage_ids, Beverage.all, :id, :name) do |b| b.label { b.check_box + b.text } 
      end %>
    </li>
</ul>
</div>

<br>
<%= m.submit %>
<% end %>